# Haskell
*.zip
dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
*.sw?
*.lock
*.dot

# Benchmarks
benchmark.html
benchmarks.html

# Samples
samples
samples/
samples/*
samples/**

# IDE
*.code-workspace

# Python
__pycache__
__pycache__/
__pycache__/*
__pycache__/**

# LaTeX
*.aux
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.log
*.out
*.pdf
*.adx
*.and
*.tex

# temporary
tmp
tmp/
tmp/*
tmp/**

# hlints
.hlint-*

# todos
todo
